# Composer dependencies
/vendor/

# Node.js dependencies
/node_modules/

# Tailwind output
/assets/style.css

# Build output
/build/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/
*.code-workspace